<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="selectby_site">
  <test name="AllBanksTable">
    <classes>
      <class name="AllBanksTable"/>
    </classes>
  </test>
  <test name="KursPageTable">
    <classes>
      <class name="KursPageTable"/>
    </classes>
  </test>
</suite>